.colorText {
    color: red
}

.colorGreen {
    color: green
}

.colorBlue {
    color: blue
}

.italicl {
    font-style: italic
}

.textSize {
    font-size: 30px
}

.textbold {
    font-weight: bold
}