table {
    width: 50%;
    border-spacing: 0px;
    border-collapse: collapse;
}

caption {
    font-style: italic;
    font-size: 20px
}

td,
th {
    border: 1px black solid;
    padding: 15px
}

th {
    background-color: yellow
}