.colorChange {
    color: red;
}

.sizeChange {
    font-size: 30px
}

.colorChange.sizeChange {
    text-decoration: underline
}

table {
    width: 30%;
    height: 200px;
    border-spacing: 0;
    /*    щоб не було проміжків між лініями таблиці*/
    border-collapse: collapse
        /* щоб вирівняти лінії таблиці однакової ширини.*/
}

td, th {
    border: 1px solid black;
    /*    padding: 30px;*/
    vertical-align: top;
    text-align: right
}

/*
.secondRow{
    background-color: orange
}
.rowstyle{
    background-color: cadetblue
}
*/
.firstgroup {
    background: orange
}

.secondgroup {
    background-color: cadetblue
}
caption{
    font-size: 30px;
    font-weight: 800;
    font-family: sans-serif
}